<script>
import { Dialog } from 'quasar'
import { setDone } from '../../persistence'
export default {
  computed: {
    list () {
      return this.$store.state.Expenses.list
    }
  },
  methods: {
    askRemove (expense) {
      var self = this
      Dialog.create({
        title: 'Tem certeza?',
        // optional; we want an "OK" button
        ok: true, // takes i18n value, or String for "OK" button label

        // optional; we want a "Cancel" button
        cancel: true, // takes i18n value, or String for "Cancel" button label

        // optional; a position of the Dialog (top, bottom, left, right)
        position: 'top'
      }).then(() => {
        // Picked "OK"
        self.remove(expense)
      }).catch(() => {
        // Picked "Cancel" or dismissed
      })
    },
    remove (expense) {
      this.$store.commit('REMOVE_EXPENSE', expense)
    },
    toggle (expense) {
      console.log('clicou')
      expense.done = !expense.done
      setDone(expense)
    }
  }
}
</script>

<template>
<div>
    <div class="expense" v-for="expense in list" v-bind:key="expense.id" @click="toggle(expense)">
        <p :class="{ done: expense.done }">{{expense.date}} - {{expense.amount}}</p>
        <p :class="{ done: expense.done }">{{expense.description}}</p>
        <a href="#" @click.prevent="askRemove(expense)" class="removeLink"> remover</a>
    </div>
</div>
</template>

<style>
.done {
  text-decoration: line-through;
  color: #cccccc
},

.expense {
    border-bottom: #999 1px solid;
    padding-top: 10px;
    position:relative;
    cursor: pointer;
},

.removeLink {
    color: #c000;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 0.8em;
}

</style>
