<template>
  <q-page class="flex flex-center">
    <div class="container">
      <cc-form></cc-form>
      <hr v-show="list.lenght >0">
      <cc-list></cc-list>
    </div>
  </q-page>
</template>

<style scoped>
.container{
  padding: 20px;
}
</style>

<script>

import CcForm from '../components/expenses/form.vue'
import CcList from '../components/expenses/list.vue'
import { getExpenses } from '../persistence'

export default {
  name: 'PageIndex',
  components: {CcForm, CcList},
  mounted () {
    this.$store.commit('SET_EXPENSES', getExpenses())
  },
  computed: {
    list () {
      return this.$store.state.Expenses.list
    }
  }
}
</script>
